* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  /* font-size: 16px; */
}


/* navbar */
.header {
  background-color: white;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
  color: #dc4f72;
  font-weight: 700;
  font-size: 26px;
}

.navbar .navbar-brand i {
  font-size: 26px;
}



/* hiệu ứng thẻ nav */
header .navbar-nav .nav-link {
  color: #5a5a5a;
}

header .navbar-nav .nav-link.active {
  color: #dc4f72;
}

header .navbar-nav .nav-link:hover {
  color: #dc4f72;
}

header .navbar-nav .nav-link {
  position: relative;
}

header .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 8px;
  width: 0;
  height: 2px;
  background-color: #dc4f72;
}

header .navbar-nav .nav-link:hover::before {
  color: #dc4f72;
  width: 30%;
  transition: all 0.8s;
}


.navbar .nav-item {
  font-size: 16px;
}

.search-right .fa-solid {
  font-size: 14px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
  color: #5a5a5a;
  border: 1px solid rgba(0, 0, 0, 0.108);
  background-color: #f7f9fc;
  opacity: 0.7;
}

.search-right .fa-solid:hover {
  color: black;
  opacity: 1;
}

.search-right .search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  background: #000000ba;
  height: 100%;
  width: 100%;
}

.search-right .search-overlay:target {
  visibility: visible;
}

.search-right .search-popup {
  position: relative;
  margin: 0 auto;
  padding: 15px;
  top: 50%;
  max-width: 30vw;
}

.search-right .search-popup .close {
  position: absolute;
  right: 20px;
  top: -50px;
  transition: all 0.5s;
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}

.search-right .search-popup .btn {
  color: white;
  background-color: #dc4f72;
  border-radius: 0;
  padding: 10px 30px;
}

.search-right .search-popup .btn:hover {
  opacity: 0.7;
}

.collapse .sche_button a {
  /* width: 196px; */
  /* height: 52px; */
  /* line-height: 52px; */
  /* font-weight: 700; */
  /* font-size: 14px; */
  /* padding: 10px 20px; */


}


.posi_sche{
  /* margin-bottom: 68px; */
  margin-left: 20px;
  margin-right: 15px;
  height: 100%;
}


.search-right .search-overlay .search-popup a:hover{
  color: #f7f9fc; 

}

.search-popup a:hover{
  color: #fff;

}

.navbar{
  display: flex;
  align-items: center;


}

.search-popup .form-control {
  border-radius: 0;
}

/* .theme-button {
  color: #dc4f72;
  font-size: 14px;
  border: 1px solid #dc4f72;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: white;
  transition: all 0.5s;
}

.theme-button:hover {
  color: white;
  background-color: #dc4f72;
} */

.mode i.gg-sun {
  display: none;
}


/* Sidebar */
/* span.w3l-icon.-back span.fa {
  position: static;
  color: #e6ebff;
}

#w3lDemoBar.w3l-demo-bar {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding: 40px 5px 10px;
  padding-top: 70px;
  background: #0D1326;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

#w3lDemoBar.w3l-demo-bar a {
  display: block;
  color: #e6ebff;
  text-decoration: none;
  line-height: 24px;
  opacity: .6;
  margin-bottom: 20px;
  text-align: center;
}

#w3lDemoBar.w3l-demo-bar span.w3l-icon {
  display: block;
}

#w3lDemoBar.w3l-demo-bar a:hover {
  opacity: 1;
}

#w3lDemoBar.w3l-demo-bar .w3l-icon svg {
  color: #e6ebff;
}

#w3lDemoBar.w3l-demo-bar .responsive-icons {
  margin-top: 30px;
  border-top: 1px solid #41414d;
  padding-top: 40px;
}

#w3lDemoBar.w3l-demo-bar .demo-btns {
  border-top: 1px solid #41414d;
  padding-top: 30px;
}

#w3lDemoBar.w3l-demo-bar .responsive-icons a span.fa {
  font-size: 26px;
}

#w3lDemoBar.w3l-demo-bar .no-margin-bottom {
  margin-bottom: 0;
}

.toggle-right-sidebar span {
  background: #0D1326;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #e6ebff;
  border-radius: 50px;
  font-size: 26px;
  cursor: pointer;
  opacity: .5;
}

.pull-right-demo-bar {
  float: right;
  position: fixed;
  right: 0px;
  top: 150px;
  width: 90px;
  z-index: 99999;
  text-align: center;
}


#right-sidebar {
  width: 90px;
  position: fixed;
  z-index: 1000;
  right: 0px;
  top: 0;
  margin-top: 140px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  overflow-y: auto;
}


.hide-right-bar-notifications {
  margin-right: -300px !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media (max-width: 992px) {
  #w3lDemoBar.w3l-demo-bar a.desktop-mode {
    display: none;

  }
}

@media (max-width: 767px) {
  #w3lDemoBar.w3l-demo-bar a.tablet-mode {
    display: none;

  }
}

@media (max-width: 568px) {
  #w3lDemoBar.w3l-demo-bar a.mobile-mode {
    display: none;
  }

  #w3lDemoBar.w3l-demo-bar .responsive-icons {
    margin-top: 0px;
    border-top: none;
    padding-top: 0px;
  }

  #right-sidebar,
  .pull-right-demo-bar {
    width: 90px;
  }

  #w3lDemoBar.w3l-demo-bar .no-margin-bottom-mobile {
    margin-bottom: 0;
  }
} */



.page_grapper{
/* margin-left: 150px; */
/* padding-left: 150px; */
padding: 15px 0;
background-color: #f7f9fc;
margin-top: 80px;

}

.page_grapper{
  /* padding-left: 200px; */

}

.page_grapper a {
  font-size: 14px;
  color: #dc4f72;
  text-decoration: none;

}

.page_grapper .back_home{
  position: relative;

}
.page_grapper a::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #dc4f72;

}

.page_grapper a:hover::before{
  width: 100%;
  height: 1px;
  /* bottom: 3px; */
  color: #dc4f72;

}

.page_grapper span{
  font-size: 14px;
  color: #2c3038;

}

.page_grapper i{
  font-size: 10px;
  margin: 0 3px 3px 3px;

}



/* about */
.about_us{
  margin-top: 85px;

}

.container .about h1{
  padding: 45px 0;
  text-align: center;
  font-size: 46px;
  font-weight: 800;
}

/*    
      hiệu ứng và box-shadow
 {
  background-color: #f7f9fc;
  padding: 50px 30px;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: 1px solid #f8f9fa;
}

 {
  transform: translateY(-20px);
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}
*/

.align-items-start h2{
  font-size: 36px;
  line-height: 44px;
  color: #2C3038;
  text-transform: capitalize;
  font-weight: 600

}

.align-items-start p{
  font-size: 16px;
  line-height: 24.5px;
  color: #5a5a5a;


}

.align-items-start ul{
  list-style: none;

}

.align-items-start ul{
  margin-top: 20px;

}

.align-items-start ul span{
  line-height: 39px;
  color: #2C3038;  
  font-weight: 600;
  margin-left: 15px;
}

.align-items-start i{
  font-size: 10px;
  padding: 10px;
  border-radius: 20px;
  color: #dc4f72;
  /* margin-top: 20px; */
  background-color: rgb(220 79 114 / 10%);
  opacity: 0.6;

}

.align-items-start li{
  margin-top: 15px;
}

.img_tree img{
  border-radius: 10px;
  height: 382px;
  width: 527px;
  margin-left: 65px;
  transition: 0.3s ease-in;

}

.img_tree img:hover{
  transform: translateY(-15px);
  /* cursor: pointer; */
  
}

.align-items-start .box_item33{
  max-width: 33%;


}

.align-items-start .box_item33 h5{
font-size: 26px;
line-height: 32px;
color: #2C3038;
font-weight: 700;
margin-bottom: 28px;
}

.align-items-start .box_item33 p{
font-size: 16px;
line-height: 24.5px;
color: #5a5a5a;
}

.our_history{

  padding: 50px 0;
}

.feature{
  /* max-width: 100%; */
  background-color: #f7f9fc;

}

.feature_largest{
  text-align: center;
  padding: 60px 0;

}

.feature_largest h6{
  font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;

}

.feature_largest h3{
  color: #2C3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;

}

.feature_largest p{
  color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;

}

.feature_items .box_icon{
  max-width: 23%;
  height: 250px;
  margin-right: 30px;

}

.feature_items .box_icon i{
  /* padding: 25px; */
  width: 70px;
  height: 70px;
  font-size: 26px;
  color: #fff;
  background-color: #dc4f72;
  opacity: 1;
  border-radius: 45px;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 105px;

}

.feature_items .box_icon{
  text-align: center;

}

.feature_items .box_icon h4{
  margin-top: 12px;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  color: #2C3038;
}

.feature_items .box_icon p{
  color: #2c3038;
  font-size: 16px;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;


}

.feature_items .box_icon a{
  position: relative;
  text-decoration: none;
  font-size: 18px;
  font-weight: 699;
  color: #dc4f72;

}

.feature_items .box_icon a::before{
  content: "";
  /* position: relative; */
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #dc4f72;

}

.feature_items .box_icon a:hover::before{
  position: absolute;
  width: 100%;
  height: 2px;
  color: #dc4f72;

}

.creative{
  padding-top: 90px;

}

.creative .creative_text{
  text-align: center;

}

.creative .creative_text h6{
  color: #dc4f72;
  font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 5px;

}

.creative .creative_text h3{
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
  color: #2C3038;

}

.creative .creative_text p{
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;

}




.request_button{
  text-align: center;
  /* margin-left: 200px; */
  

}

/*      Get Free */
.button_get {
  width: 192px;
  height: 55px;
  /* line-height: 52px; */
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background-color: #dc4f72;
  border: #dc4f72;
}

.button_get:hover {
  /* text-align: center; */
 background-color: #d62f58;
 border: #f2bcc9 solid 3px;
  

}

.input_text{
  height: 55px;
  /* opacity: 0.5; */
  /* background-color: #f7f9fc; */


}



/*    button Submit */
.button_submit button{
  background-color: #dc4f72;
  color: #fff;
  width: 150px;
  height: 52px;
  /* line-height: 52px;
  font-weight: 700;
  font-size: 14px; */
  font-weight: 700;
  border: #dc4f72;

}

.button_submit button:hover{
  background-color: #d62f58;


}

.request{
  margin-top: 45px;

}

.buttons .btn-primary{
  background-color: #dc4f72;
  color: #fff;

}

.buttons .btn-primary:hover{
  background-color: #d62f58;

}

/* .buttons .theme-button{
  width: 160px;
  height: 52px;

} */

.buttons a{
  /* width: 160px;
  height: 52px; */
  /* display: flex; */
  /* align-items: center; */
  /* margin-top: 20px; */
  padding: 12px 36px;

}

/*          Back to top      */
body .cd-top--is-visible {  
  /* back-to-top button visible */ 
  visibility: visible;
  opacity: 1;

}

.back_totop {
  width: 50px;
  height: 45px;
  /* background: #dc4f72; */
  background-color: #dc4f72;
  border-radius: 3px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 1px;
  bottom: 1px;
  color: white;
  transition: all .1s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;

}

/* .back_totop:hover{
  background-color: #d62f58;

} */

.cd-top--fade-out { 
  /* reduce button opacity if user keeps scrolling */
  opacity: .5;
}



