* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}


body h1 {
  font-size: 50px;
}

body h2 {
  font-size: 46px;
}

body h3 {
  font-size: 26px;
}

body .sub_title {
  font-size: 16px;
  color: #dc4f72;
}


/* navbar */
header {
  background-color: white;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
  color: #dc4f72;
  font-weight: 700;
  font-size: 26px;
}

.navbar .navbar-brand i {
  font-size: 26px;
}

/* hiệu ứng thẻ nav */
header .navbar-nav .nav-link {
  color: #5a5a5a;
  position: relative;
}

header .navbar-nav .nav-link.active {
  color: #dc4f72;
}

header .navbar-nav .nav-link:hover {
  color: #dc4f72;
}

header .navbar-nav .dropdown-item {
  position: relative;
}

header .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 8px;
  width: 0;
  height: 2px;
  background-color: #dc4f72;
}

header .navbar-nav .nav-link:hover::before {
  color: #dc4f72;
  width: 30%;
  transition: all 0.8s;
}

header .navbar-nav .dropdown-menu {
  padding: 10px 0;
}

header .navbar-nav .dropdown-item {
  padding: 6px 16px;
}

header .navbar-nav .dropdown-item::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 16px;
  width: 0;
  height: 2px;
  background-color: #dc4f72;
}

header .navbar-nav .dropdown-item:hover::before {
  color: #dc4f72;
  width: 15%;
  transition: all 0.8s;
}

.navbar .nav-item {
  font-size: 16px;
}

.search-right .fa-solid {
  font-size: 14px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
  color: #5a5a5a;
  border: 1px solid rgba(0, 0, 0, 0.108);
  background-color: #f7f9fc;
  opacity: 0.7;
}

.search-right .fa-solid:hover {
  color: black;
  opacity: 1;
}

.search-right .search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  background: #000000ba;
  height: 100%;
  width: 100%;
}

.search-right .search-overlay:target {
  visibility: visible;
}

.search-right .search-popup {
  position: relative;
  margin: 0 auto;
  padding: 15px;
  top: 50%;
  max-width: 30vw;
}

.search-right .search-popup .close {
  position: absolute;
  right: 20px;
  top: -50px;
  transition: all 0.5s;
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}

.search-right .search-popup .btn {
  color: white;
  background-color: #dc4f72;
  border-radius: 0;
  padding: 10px 30px;
}

.search-right .search-popup .btn:hover {
  opacity: 0.7;
}

.search-popup .form-control {
  border-radius: 0;
}

.theme-button {
  color: #dc4f72;
  font-size: 14px;
  border: 1px solid #dc4f72;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: white;
  transition: all 0.5s;
}

.theme-button:hover {
  color: white;
  background-color: #dc4f72;
}

.mode i.gg-sun {
  display: none;
}


/* our services */
.services {
  padding-top: 100px;
  padding-bottom: 50px;
}

.btn {
  color: white;
  background-color: #dc4f72;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 14px;
}

.our_services .btn:hover {
  color: white;
  background-color: #d62f58;
  border-color: #cf2952;
  opacity: 1;
}

.btn:hover {
  opacity: 0.7;
}

.our_services_text h3 {
  color: #B7B8B7;
}

.our_services_type a img {
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
  background-color: #F7F9FC;
}

.our_services_type a {
  color: #2C3038;
  font-size: 20px;
}

.our_services_type a:hover {
  color: #dc4f72;
}


/* best products */
.our_product{
  padding: 60px 0;
  background-color: #F7F9FC;
  transition: all 0.5s;
}

.our_product_detail a {
  font-size: 18px;
  font-weight: 700;
  color: #2C3038;
  transition: all 0.5s;
}

.our_product_detail a:hover {
  color: #dc4f72;
}


.our_product_detail p {
  color: #5a5a5a;
}


.our_product_detail .product_number span {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-weight: 700;
  display: inline-block;
  color: #dc4f72;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}


/* 
.theme-button {
  color: white;
  font-size: 14px;
  border: 1px solid #dc4f72;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #dc4f72;
  transition: all 0.5s;
}

.theme-button:hover {
  color: white;
  background-color: #d62f58;
} */


.featured_services .btn:hover {
  color: white;
  background-color: #d62f58;
  border-color: #cf2952;
  opacity: 1;
}





















/* footer */
footer {
  background-color: #f7f9fc;
  height: fit-content;
  padding: 30px 0;
}

footer .category {
  padding: 40px 0;
}

footer .category h3 {
  font-size: 22px;
  color: #2c3038;
}

footer .category h6 {
  font-size: 18px;
  color: #656f7b;
}

footer .category ul li {
  margin: 10px 0;
  font-size: 16px;
}

.footer a,
.footer p {
  color: #656f7b;
}

.footer .footer_form {
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
}

.footer .footer_form form input {
  background-color: #f7f9fc;
  padding: 12px 20px;
  width: 70%;
  border: none;
  border-radius: 6px;
  color: #2c3038;
  font-weight: 600;
}

.footer .footer_form form .btn {
  color: white;
  background-color: #dc4f72;
  border-radius: 3px;
  padding: 12px 30px;
  font-size: 14px;
  margin-left: 5px;
}

.footer .copyrights a {
  color: #2c3038;
  transition: all 0.5s;
}

.footer .copyrights a:hover {
  color: #dc4f72;
}


/* backtotop */
.backtotop.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.backtotop.cd-top--fade-out {
  opacity: 0.7;
}

.backtotop {
  position: fixed;
  right: 0;
  bottom: 0;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  background-color: #dc4f72;
  opacity: 0;
  visibility: hidden;
}


/* featured services */
.featured_services {
  padding: 80px 0;
}

.featured_services_content h3 {
  font-size: 32px;
}

.featured_services_content p {
color: #5a5a5a;
}

.featured_services_content ul li i {
  color: #dc4f72;
  font-size: 10px;
  background-color: #FDF6F8;
  border-radius: 50%;
}

.featured_services .btn:hover {
  color: white;
  background-color: #d62f58;
  border-color: #cf2952;
  opacity: 1;
}

.featured_services_content .services_content_bg {
  border: 1px solid #F7F9FC;
  border-radius: 6px;
}

.featured_services_content .img-curve {
  border-radius: 6px;
}

.featured_services_content img {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transition: 0.3s ease-in-out;
  scale: 1;
}

.featured_services_content img:hover {
  transform: translateY(-10px);
}